/* إعدادات عامة */
body {
  font-family: 'Amiri', serif;
  color: #FFD700;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9BkN6Ce_uaJzHzMe-YYPOvf9SkIKMUmbTGagUZDqHLDyuEh5Z7EXv3FPE&s=10');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #FFD700;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #555;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFD700;
}

.content-section {
  display: none;
}

button {
  background-color: #2f5d62;
  color: #FFD700;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

/* لجعل الأزرار تستجيب بشكل جيد على الجوال */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    padding: 10px;
  }
}