* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #87CEEB; /* لون سماوي */
    color: #FF8C00; /* اللون البرتقالي */
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #FFD700; /* لون ذهبي */
}

button {
    background-color: #FFD700; /* لون ذهبي */
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

button:hover {
    background-color: #FFB84D; /* درجة أغمق من الذهبي */
}

#mining-section {
    margin-top: 30px;
}

#countdown {
    font-weight: bold;
}

#ayahDisplay, #dhikrDisplay, #hadithDisplay {
    font-size: 18px;
    margin-top: 10px;
}
