/* الإعدادات الأساسية للصفحة */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    direction: rtl;
    color: #333;
}

header {
    text-align: center;
    background-color: #5f9ea0;
    padding: 20px;
    color: white;
}

#mining-info {
    text-align: center;
    margin-top: 20px;
}

#mining-info h3 {
    font-size: 18px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#buttons button:hover {
    background-color: #45a049;
}

#mining-timer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#auth-section {
    text-align: center;
    margin-top: 50px;
}

#auth-section input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    width: 80%;
}

#auth-section button {
    background-color: #5f9ea0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#auth-section button:hover {
    background-color: #4CAF50;
}
